@model IEnumerable<Avansight.Domain.Patient>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Gender)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var p in Model)
        {
            <tr>
                <td>@p.Gender</td>
                <td>@p.Age</td>
            </tr>

        }*@
    </tbody>
</table>  