@model IEnumerable<Avansight.Domain.Patient>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Gender)</th>
            <th>@Html.DisplayNameFor(m => m.Age)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.Gender</td>
                <td>@patient.Age</td>
            </tr>

        }
    </tbody>
</table>  