@model IEnumerable<Avansight.Domain.DTO.PatientDetailsDto>
<div class="row">  

<div id="barChart"></div>
<div id="pieChart"></div>

</div>


@section Scripts {

    <script src="~/lib/domo-phoenix/build/global/domoPhoenix.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        $(function() {
          
        }); 

    </script>
}